input[type="button"] {
    font-size: 30px;
    font-weight: bold;
    color: red;
    border: none;
    background: none;
    position: relative;
    left: 90%;
}
input[type="button"]:hover{
    cursor: pointer;
}
div{
    background-color: seashell;
    border: solid;
    margin:50px;
}
div>p{
    margin: 20px;
}